#home
    - if user_signed_in?
        %h1.welcome
            Welcome
            = current_user.username
        = button_to "Edit My Acount", edit_user_registration_path, method: :get 
        = button_to "Sign Out", destroy_user_session_path, method: :delete
 
    - else
        .buttons
            = button_to "Sign In", new_user_session_path, method: :get 
            = button_to "Sign Up", new_user_registration_path, method: :get 
    