.list-block
    %h1 Projects
    %table
        - current_user.projects.each do |project|
            %tr.dark-item
                %td{"data-controller" => "proj", "data-desc" => project.description} 
                    = link_to project.name, "/projects/#{project.id}"
                %td 
                    = button_to 'Edit', edit_project_path(project), method: 'get'
                %td 
                    = button_to 'Remove', project, method: :delete, data: { confirm: 'Are you sure?' }
    = button_to 'Create', new_project_path, method: "get"
.list-block-no-create
    %h1 Galaxies
    %table
        - current_user.projects.each do |project|
            - project.galaxies.each do |galaxy|
                %tr.dark-item
                    %td
                        = link_to galaxy.name, "/galaxies/#{galaxy.id}"
                        %div{"data-controller" => "proj", "data-desc" => galaxy.description} 
                        project:
                        = link_to project.name, "/projects/#{project.id}"


                    %td 
                        = button_to 'Edit', edit_galaxy_path(galaxy), method: 'get'
                    %td 
                        = button_to 'Remove', galaxy, method: :delete, data: { confirm: 'Are you sure?' }

